# Practice

In [1]:
import numpy as np
from numpy import nan as NA
import pandas as pd
import numpy.random as random

random.seed(0)
df2 = pd.DataFrame(np.random.rand(15, 6))

df2.iloc[2,0] = NA
df2.iloc[5:8,2] = NA
df2.iloc[7:9,3] = NA
df2.iloc[10,5] = NA


df2

           0         1         2         3         4         5
0   0.548814  0.715189  0.602763  0.544883  0.423655  0.645894
1   0.437587  0.891773  0.963663  0.383442  0.791725  0.528895
2        NaN  0.925597  0.071036  0.087129  0.020218  0.832620
3   0.778157  0.870012  0.978618  0.799159  0.461479  0.780529
4   0.118274  0.639921  0.143353  0.944669  0.521848  0.414662
5   0.264556  0.774234       NaN  0.568434  0.018790  0.617635
6   0.612096  0.616934       NaN  0.681820  0.359508  0.437032
7   0.697631  0.060225       NaN       NaN  0.210383  0.128926
8   0.315428  0.363711  0.570197       NaN  0.988374  0.102045
9   0.208877  0.161310  0.653108  0.253292  0.466311  0.244426
10  0.158970  0.110375  0.656330  0.138183  0.196582       NaN
11  0.820993  0.097101  0.837945  0.096098  0.976459  0.468651
12  0.976761  0.604846  0.739264  0.039188  0.282807  0.120197
13  0.296140  0.118728  0.317983  0.414263  0.064147  0.692472
14  0.566601  0.265389  0.523248  0.093941  0.575946  0.929296